/vendor
/docs/public
/example/chat/node_modules
/integration/node_modules
/integration/schema-fetched.graphql
/example/chat/package-lock.json
/codegen/gen

.idea/

# We do not support go modules yet
go.mod
go.sum
